body {
  background-color: rgba(250, 7, 7, 0.61);
  align-items: center;
  color: white;
}
.centered {
  text-align: center;
  margin-top: 5rem;
}
h2{
  text-align: center;
}

.pokemon_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pokemon_card {
  border: 5px solid black;
  padding: 10px;
  text-align: center;
}
