body {
  background-color: lightblue;
  align-items: center;
}

h2{
  text-align: center;
}

.pokemon_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pokemon_card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
